<div class="container">
    <h2>Thank You for signing up! </h2>
    <h3>Please check your email to activate your account.</h3><br>
    <p>After activating your account, you can now continue to the {{#link-to "landingPage"}}main page{{/link-to}}.</p>
</div>
{{outlet}}
